@model PiranhaCMS.PublicWeb.Models.ViewModels.IPageViewModel<PiranhaCMS.PublicWeb.Models.Pages.Base.IPage>

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-4 py-3 py-lg-0">
    @if (!string.IsNullOrEmpty(Model.Header.SiteLogoImageUrl))
    {
    <a href="/" class="navbar-brand p-1">
        <img id="logo" src="@Url.Content(Model.Header.SiteLogoImageUrl)" alt="@Model.GlobalSettings.SiteTitle">
    </a>
    }
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 me-n3">
            @foreach (var item in WebApp.Site.Sitemap)
            {
                if (item.Id != Model.GlobalSettings.StartPageId && !item.IsHidden)
                {
                    <a class="nav-item nav-link @(item.Id == WebApp.PageId ? "active" : "")" href="@item.Permalink">
                        @item.MenuTitle
                    </a>
                }
            }
        </div>
    </div>
</nav>
