@model PiranhaCMS.PublicWeb.Models.ViewModels.IPageViewModel<PiranhaCMS.PublicWeb.Models.Pages.Base.IPage>

<footer>
    <div class="container-fluid bg-dark text-secondary p-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">@Model.Footer.Column1Header</h3>
                <div class="d-flex flex-column justify-content-start">
                    @if (!string.IsNullOrEmpty(Model.Footer?.Column1Content))
                    {
                        @Html.Raw(Model.Footer.Column1Content);
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">@Model.Footer.Column2Header</h3>
                <div class="d-flex flex-column justify-content-start">
                    @if (!string.IsNullOrEmpty(Model.Footer?.Column2Content))
                    {
                        @Html.Raw(Model.Footer.Column2Content);
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">@Model.Footer.Column3Header</h3>
                <div class="d-flex flex-column justify-content-start">
                    @if (!string.IsNullOrEmpty(Model.Footer?.Column3Content))
                    {
                        @Html.Raw(Model.Footer.Column3Content);
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">@Model.Footer.Column4Header</h3>
                <div class="d-flex">
                    @if (!string.IsNullOrEmpty(Model.Footer?.Column4Content))
                    {
                        @Html.Raw(Model.Footer.Column4Content);
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-secondary text-center border-top py-4 px-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="m-0">&copy; Copyright &copy; @DateTime.Now.Year @Model.GlobalSettings.SiteTitle.</p>
    </div>
</footer>
