@using PiranhaCMS.ContentTypes.Helpers;
@using PiranhaCMS.PublicWeb.Helpers;
@using System.Text.Encodings.Web
@model PiranhaCMS.Search.Models.MusicSearchResult
@{
    var youtubeSearch = "https://www.youtube.com/results?search_query=";
    var hiRes = "&nbsp;<span class=\"badge bg-primary rounded-pill\">Hi Res</span>";
}

@if (Model != null && Model.HasHits)
{
    <div class="row">
        <div class="col">
            Total results: @Model.TotalHits
        </div>
        <div class="col">
            Total pages: @Model.Pagination.TotalPages
        </div>
        <div class="col">
            Page size: @Model.Pagination.PageSize
        </div>
        <div class="col">
            <a href="@((string)ViewData["CurrentPageUrl"])">Dashboard</a>
        </div>
    </div>
    <ul class="list-group">
    @foreach (var hit in Model.Hits)
    {
        var tags = hit.Tags.Split("|", StringSplitOptions.TrimEntries);
        var artist = UrlEncoder.Default.Encode(tags[0].Trim());
        var release = UrlEncoder.Default.Encode(tags[1].Trim());
        var name = UrlEncoder.Default.Encode(System.IO.Path.GetFileNameWithoutExtension(hit.Name));

        <div class="col-lg-12 mb-2">
            <div class="bg-secondary d-flex">
                <div class="d-flex flex-column justify-content-center py-3 px-4">
                    <div class="d-flex mb-2">
                        <small class="text-uppercase me-3">
                            <i class="bi bi-bookmarks me-2"></i>
                            <a href="?artist=@(artist)">@Html.Raw(tags[0])</a> | 
                            <a href="?artist=@(artist)&release=@(release)">@(tags[2]) @Html.Raw(tags[1])</a>
                            @(bool.Parse(tags[6]).Equals(true) ? Html.Raw(hiRes) : "")
                        </small>
                    </div>
                    <span>
                        @Html.Raw(hit.Name)
                        <a href="@youtubeSearch@artist+@name" target="_blank" rel="noreferrer noopener" title="Open in YouTube">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
    </ul>
    <div class="col-12 mt-2">
        <partial name="_Pagination.cshtml" model="Model.Pagination" />
    </div>
}
else if (!string.IsNullOrEmpty(Model?.SearchText))
{
    <i>No results found! Try some other keyword...</i>
}
